app/bootstrap.php.cache
app/cache/*
app/DoctrineMigrations/*
app/logs/*
app/config/parameters.yml
build/
/vendor
bin
composer.phar
data
*.swp
*.swo
web/assetic/*
web/bundles/
web/css/*
web/js/*
web/images/*
web/uploads/*
.idea/*
*~
app/SymfonyRequirements.php
/nbproject/private/
